@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --main: #333;
  --second: #bc1616;
  --bg: #87ceeb;
  --feat: #fff;
  --box: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
}

.container {
  font-family: 'League Spartan', sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3 {
  color: var(--second);
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 25px;
  font-weight: 300;
  color: var(--main);
  text-align: center;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background: url('./images/hero.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 120%;
}

.container {
  padding: 100px;
}

.feature {
  background-color: var(--feat);
  padding: 10px 35px;
  margin: 100px 0;
  border-radius: 5px;
  box-shadow: var(--box);
}

.quote {
  font-size: 27px;
  font-weight: 400;
}

.author {
  font-size: 23px;
  font-style: italic;
}